body {
    background-color: rgb(71, 67, 67);
    min-width: 980px;
    text-align: center; 
}
  
  p {
    color: rgb(26, 12, 10);
    font-family: monospace;
  }

.capy{
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 150px;
}  

  img{
    width: 40px;
    }

.about{
    margin-top: 180px;
    display:grid;
    justify-content: center;
    font-size: 30px;
}

.background-links{
    background-color: rgb(71, 67, 67);
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

#wrapper { 
    width: 980px;
     margin: 0 auto;
     text-align: left;
    } 